<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h2>Tracenode Tracking</h2>
    <span class="spacer"></span><span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="form-container">
  <mat-card class="my-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Tracenode Tracking</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-progress-bar mode="indeterminate" *ngIf="show_loader"></mat-progress-bar>
        <form [formGroup]="loginForm" class="my-form" (ngSubmit)="login()" novalidate>
          <div>
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input matInput  placeholder="Username" formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <div class="btn-section">
            <button *ngIf="!show_loader" type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">LOGIN</button>
          </div>
          </form>
    </mat-card-content>
  </mat-card>
</div>